{% extends 'template.html' %}

{% block head %}API Reference{% endblock %}

{% block content %}
<div class="container" style="margin-bottom: 30px">
    <div style="color: #1c7430; font-size: 50px; margin-bottom:10px"><b>getClinicInfo</b></div>
    <hr size="3px" style="margin-bottom: 50px">
    <div style="color: #494f54; font-size: xx-large; margin-bottom:10px"><b>Request</b></div>
    <div style="border: #f3c533 1px; background-color: #c3e6cb; padding: 10px;">
        <b>GET</b> http://34.226.136.12:8080/api/clinic/<b style="color: darkgreen">state_name</b>/<b style="color: darkgreen">city_name</b>
    </div>
    <hr style="margin-top: 60px">
</div>

<div class="container">
    <div style="color: #494f54; font-size: xx-large; margin-bottom:10px"><b>Parameters</b></div>
    <div class="row" style="margin-bottom: 50px">
        <div class="answer col-lg-12 col-md-12 mx-auto">
            <table class="table">
                <thead class="text-center table-success">
                    <tr>
                        <th scope="col">Parameters</th>
                        <th scope="col">Value</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>state_name</td>
                        <td>string</td>
                        <td>The full state name of Korea.<br>ex) 서울특별시, 충청남도</td>
                    </tr>
                    <tr>
                        <td>city_name</td>
                        <td>string</td>
                        <td>The full city name of Korea. It needs only ~gu name, unless the city is included in the ~do.<br>ex) 강남구, 종로구, 천안시 동남구, 천안시 서북구,</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
        <div style="color: #494f54; font-size: xx-large; margin-bottom:10px"><b>Response</b></div>
        <div style="border: #f3c533 1px; background-color: #c3e6cb; padding: 10px; margin-bottom: 20px">
             <pre>{"result":<br>  {"type": "의원", <br>   "list":<br>       [{"clinm": "의료법인정빈의료재단아산병원부설정빈의원", <br>         "cliTlno": "041-555-9851", <br>         "cliAddr": "충청남도 천안시 동남구 만남로 6, 7층 7004,7005,7006(일부)호 (신부동)", <br>         "cliType": "의원", <br>         "cliSubj": "정신건강의학과", <br>         "cliAnti": null}]<br>  }<br>}</pre>
        </div>
        <div class="row" style="margin-bottom: 50px">
        <div class="answer col-lg-12 col-md-12 mx-auto">
            <table class="table">
                <thead class="table-success">
                    <tr>
                        <th scope="col">Property name</th>
                        <th scope="col">Value</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>clinm</td>
                        <td>string</td>
                        <td>clinic name</td>
                    </tr>
                    <tr>
                        <td>cliTIno</td>
                        <td>string</td>
                        <td>clinic telephone number</td>
                    </tr>
                    <tr>
                        <td>cliAddr</td>
                        <td>string</td>
                        <td>clinic address</td>
                    </tr>
                    <tr>
                        <td>cliType</td>
                        <td>string</td>
                        <td>clinic type</td>
                    </tr>
                    <tr>
                        <td>cliSubj</td>
                        <td>string</td>
                        <td>hospital subect</td>
                    </tr>
                    <tr>
                        <td>cliAnti</td>
                        <td>string</td>
                        <td>clinic's antibiotics usage</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}