{% extends 'template.html' %}

{% block head %}API Reference{% endblock %}

{% block content %}
<div class="container" style="margin-bottom: 30px">
    <div style="color: #1c7430; font-size: 50px; margin-bottom:10px"><b>getChildrenInfo</b></div>
    <hr size="3px" style="margin-bottom: 50px">
    <div style="color: #494f54; font-size: xx-large; margin-bottom:10px"><b>Request</b></div>
    <div style="border: #f3c533 1px; background-color: #c3e6cb; padding: 10px;">
        <b>GET</b> http://localhost:8080/api/children/<b style="color: darkgreen">state_name</b>/<b style="color: darkgreen">city_name</b>
    </div>
    <hr style="margin-top: 60px">
</div>

<div class="container">
    <div style="color: #494f54; font-size: xx-large; margin-bottom:10px"><b>Parameters</b></div>
    <div class="row" style="margin-bottom: 50px">
        <div class="answer col-lg-12 col-md-12 mx-auto">
            <table class="table">
                <thead class="text-center table-success">
                    <tr>
                        <th scope="col">Parameters</th>
                        <th scope="col">Value</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>state_name</td>
                        <td>string</td>
                        <td>The full state name of Korea.<br>ex) 서울특별시, 충청남도</td>
                    </tr>
                    <tr>
                        <td>city_name</td>
                        <td>string</td>
                        <td>The full city name of Korea. It needs only ~gu name, unless the city is included in the ~do.<br>ex) 강남구, 종로구, 천안시 동남구, 천안시 서북구,</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
        <div style="color: #494f54; font-size: xx-large; margin-bottom:10px"><b>Response</b></div>
        <div style="border: #f3c533 1px; background-color: #c3e6cb; padding: 10px; margin-bottom: 20px">
             <pre>{"result":<br>  {"type": "어린이 예방접종기관", <br>   "list":<br>       [{"c_orgnm": "고려가정의학과의원", <br>         "c_orgAddr": "충청남도 천안시 동남구 목천읍 신계1길 41, (동우아파트상가) 401호", <br>         "c_orgTlno": "041-622-9398"}]<br>  }<br>}</pre>
        </div>
        <div class="row" style="margin-bottom: 50px">
        <div class="answer col-lg-12 col-md-12 mx-auto">
            <table class="table">
                <thead class="table-success">
                    <tr>
                        <th scope="col">Property name</th>
                        <th scope="col">Value</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>c_orgnm</td>
                        <td>string</td>
                        <td>children vaccination organizations name</td>
                    </tr>
                    <tr>
                        <td>c_orgAddr</td>
                        <td>string</td>
                        <td>children vaccination organizations address</td>
                    </tr>
                    <tr>
                        <td>c_orgTIno</td>
                        <td>string</td>
                        <td>children vaccination organizations telephone number</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}