{% extends 'template.html' %}

{% block head %}API Reference{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="answer col-lg-12 col-md-12 mx-auto">
            <table class="table table-success">
                <thead class="text-center">
                    <tr>
                        <th scope="col">Parameter</th>
                        <th scope="col">데이터 타입</th>
                        <th scope="col">내용</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}