{% extends 'template.html' %}

{% block head %}API{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="media col-lg-12 col-md-12 mx-auto">
            <a class="btn btn-success" href="http://0.0.0.0:8080/api/hospital/충청남도/천안시 동남구">병원</a>
            <a class="btn btn-success" href="http://0.0.0.0:8080/api/clinic/충청남도/천안시 동남구">의원</a>
            <a class="btn btn-success" href="http://0.0.0.0:8080/api/examination/충청남도/천안시 동남구">검진기관</a>
            <a class="btn btn-success" href="http://0.0.0.0:8080/api/children/충청남도/천안시 동남구">어린이 예방접종기관</a>
            <a class="btn btn-success" href="http://0.0.0.0:8080/api/pharmacy/충청남도/천안시 동남구">약국</a>
            <a class="btn btn-success" href="http://0.0.0.0:8080/api/store/충청남도/천안시 동남구">안전상비의약품 판매업소</a>
        </div>
    </div>
</div>
{% endblock %}