{% extends 'template.html' %}


{% block head %}Service{% endblock %}


{% block styleblock %}
body {
    font-size: 18px;
}

.table {
    table-layout: fixed;
}
.table thead th {
    vertical-align: middle;
}
td {
    font-size: 12px;
}
{% endblock %}


{% block content %}
<div class="container">
    <form action="http://localhost:8080/servlce" method="POST" name="category">
        <!-- 체크박스 -->
        <div class="row">
            <div class="media col-lg-12 col-md-12 mx-auto">
                <div class="media-body" id="checkbox-container">
                    <input name="medical" onclick="onClickCheckbox(this);" type="checkbox" value="hospital">병원
                    <input name="medical" onclick="onClickCheckbox(this);" type="checkbox" value="clinic">의원
                    <input name="medical" onclick="onClickCheckbox(this);" type="checkbox" value="examination">검진기관
                    <input name="medical" onclick="onClickCheckbox(this);" type="checkbox" value="children">어린이 예방접종기관
                    <input name="medical" onclick="onClickCheckbox(this);" type="checkbox" value="pharmacy">약국
                    <input name="medical" onclick="onClickCheckbox(this);" type="checkbox" value="store">안전상비의약품 판매업소
                </div>
                <input class="btn btn-success float-right" id="submit" name="submit" type="submit" value="검색"/>
            </div>
        </div>
        <!-- 시/도 리스트, 구 리스트 -->
        <div class="row">
            <div class="dropdown col-lg-12 col-md-12 mx-auto">
                <!-- 1차 분류 -->
                <select id="sido" name="sido" onchange="changeSido()" style="width:10rem; height:2rem;" >
                    <option value="" selected disabled>1차 분류</option>
                    {% for item in sido %}
                        {% for key, value in item.items() %}
                            <option id="{{key}}" name="sido" value="{{key}}">{{key}}</option>
                        {% endfor %}
                    {% endfor %}
                </select>

                <!-- 2차 분류 -->
                <select id="gu" name="gu" style="width:10rem; height:2rem;">
                    <option value="" selected disabled>2차 분류</option>
                </select>
            </div>
        </div>

        <hr>

        <!-- 결과 화면 -->
        <div class="row">
            <div class="answer col-lg-12 col-md-12 mx-auto">
                <table class="table" id="list_table_json" name="list_table_json">
                    <thead class="text-center table-success">
                        <tr>
                            <th scope="col" width="15%">상호명</th>
                            <th scope="col" width="15%">과목</th>
                            <th scope="col" width="15%">전화번호</th>
                            <th scope="col" width="30%">주소</th>
                            <th scope="col" width="10%">항생제<br/>등급</th>
                            <th scope="col" width="10%">지도</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () { // 검색 조건 새로운 페이지로 불러오기
        if('{{result}}') {
            var obj = document.getElementsByName("medical");
            for (var i = 0; i < obj.length; i++) {
                if (obj[i].value == '{{result.medical}}') {
                    obj[i].checked = true;
                }
            }
            $("#{{result.sido}}").val("{{result.sido}}").prop("selected", true);
            changeSido();
            $("#{{result.gu}}").val("{{result.gu}}").prop("selected", true);

            medical();
        }
    });

    function medical() {    // 테이블 생성
        if ('{{result.medical}}' == 'hospital') {
                $.ajax({
                    type: "GET",
                    url: "/api/hospital/{{result.sido}}/{{result.gu}}",
                    dataType: "json",
                    error: function () {
                        alert("결과가 없습니다");
                    },
                    success: function (text) {
                        var table = '';
                        $.each(text.result.list, function (index, value) {
                            table += '<tr>';
                            table += '<td>' + value.hosnm + '</td>';
                            if (value.hosSubj == null) table += '<td>-</td>';
                            else table += '<td style="font-size: 10px;">' + value.hosSubj + '</td>';
                            if (value.hosTlno == null) table += '<td>-</td>';
                            else table += '<td>' + value.hosTlno + '</td>';
                            if (value.hosAddr == null) table += '<td>-</td>';
                            else table += '<td>' + value.hosAddr + '</td>';
                            if (value.hosAnti == null) table += '<td>-</td>';
                            else table += '<td>' + value.hosAnti + '</td>';
                            if (value.hosAddr == null) table += '<td>-</td>';
                            else table += '<td>' + '<a href="http://localhost:8080/service/map/'
                                + value.hosnm + '/' + value.hosAddr + '">이동하기</a>' + '</td>';
                            table += '</tr>';
                        });
                        $("#list_table_json").append(table);
                    }
                });
            }

        if ('{{result.medical}}' == 'clinic') {
            $.ajax({
                type: "GET",
                url: "/api/clinic/{{result.sido}}/{{result.gu}}",
                dataType: "json",
                error: function () {
                    alert("결과가 없습니다");
                },
                success: function (text) {
                    var table = '';
                    $.each(text.result.list, function (index, value) {
                        table += '<tr>';
                        table += '<td>' + value.clinm + '</td>';
                        if (value.cliSubj == null) table += '<td>-</td>';
                        else table += '<td style="font-size: 10px;">' + value.cliSubj + '</td>';
                        if (value.cliTlno == null) table += '<td>-</td>';
                        else table += '<td>' + value.cliTlno + '</td>';
                        if (value.cliAddr == null) table += '<td>-</td>';
                        else table += '<td>' + value.cliAddr + '</td>';
                        if (value.cliAnti == null) table += '<td>-</td>';
                        else table += '<td>' + value.cliAnti + '</td>';
                        if (value.cliAddr == null) table += '<td>-</td>';
                        else table += '<td>' + '<a href="http://localhost:8080/service/map/'
                            + value.clinm + '/' + value.cliAddr + '">이동하기</a>' + '</td>';
                        table += '</tr>';
                    });
                    $("#list_table_json").append(table);
                }
            });
        }

        if ('{{result.medical}}' == 'examination') {
            $.ajax({
                type: "GET",
                url: "/api/examination/{{result.sido}}/{{result.gu}}",
                dataType: "json",
                error: function () {
                    alert("결과가 없습니다");
                },
                success: function (text) {
                    var table = '';
                    $.each(text.result.list, function (index, value) {
                        table += '<tr>';
                        table += '<td>' + value.orgnm + '</td>';
                        if (value.orgEmn == null) table += '<td>-</td>';
                        else table += '<td style="font-size: 10px;">' + value.orgEmn + '</td>';
                        if (value.orgTlno == null) table += '<td>-</td>';
                        else table += '<td>' + value.orgTlno + '</td>';
                        if (value.orgAddr == null) table += '<td>-</td>';
                        else table += '<td>' + value.orgAddr + '</td>';
                        table += '<td>-</td>';
                        if (value.orgAddr == null) table += '<td>-</td>';
                        else table += '<td>' + '<a href="http://localhost:8080/service/map/'
                            + value.orgnm + '/' + value.orgAddr + '">이동하기</a>' + '</td>';
                        table += '</tr>';
                    });
                    $("#list_table_json").append(table);
                }
            });
        }
        if ('{{result.medical}}' == 'children') {
            $.ajax({
                type: "GET",
                url: "/api/children/{{result.sido}}/{{result.gu}}",
                dataType: "json",
                error: function () {
                    alert("결과가 없습니다");
                },
                success: function (text) {
                    var table = '';
                    $.each(text.result.list, function (index, value) {
                        table += '<tr>';
                        table += '<td>' + value.c_orgnm + '</td>';
                        table += '<td>-</td>';
                        if (value.c_orgTlno == null) table += '<td>-</td>';
                        else table += '<td>' + value.c_orgTlno + '</td>';
                        if (value.c_orgAddr == null) table += '<td>-</td>';
                        else table += '<td>' + value.c_orgAddr + '</td>';
                        table += '<td>-</td>';
                        if (value.c_orgAddr == null) table += '<td>-</td>';
                        else table += '<td>' + '<a href="http://localhost:8080/service/map/'
                            + value.c_orgnm + '/' + value.c_orgAddr + '">이동하기</a>' + '</td>';
                        table += '</tr>';
                    });
                    $("#list_table_json").append(table);
                }
            });
        }

        if ('{{result.medical}}' == 'pharmacy') {
            $.ajax({
                type: "GET",
                url: "/api/pharmacy/{{result.sido}}/{{result.gu}}",
                dataType: "json",
                error: function () {
                    alert("결과가 없습니다");
                },
                success: function (text) {
                    var table = '';
                    $.each(text.result.list, function (index, value) {
                        table += '<tr>';
                        table += '<td>' + value.phanm + '</td>';
                        table += '<td>-</td>';
                        if (value.phaTlno == null) table += '<td>-</td>';
                        else table += '<td>' + value.phaTlno + '</td>';
                        if (value.phaAddr == null) table += '<td>-</td>';
                        else table += '<td>' + value.phaAddr + '</td>';
                        table += '<td>-</td>';
                        if (value.phaAddr == null) table += '<td>-</td>';
                        else table += '<td>' + '<a href="http://localhost:8080/service/map/'
                            + value.phanm + '/' + value.phaAddr + '">이동하기</a>' + '</td>';
                        table += '</tr>';
                    });
                    $("#list_table_json").append(table);
                }
            });
        }

        if ('{{result.medical}}' == 'store') {
            $.ajax({
                type: "GET",
                url: "/api/store/{{result.sido}}/{{result.gu}}",
                dataType: "json",
                error: function () {
                    alert("결과가 없습니다");
                },
                success: function (text) {
                    var table = '';
                    $.each(text.result.list, function (index, value) {
                        table += '<tr>';
                        table += '<td>' + value.stonm + '</td>';
                        table += '<td>' + '</td>';
                        if (value.stoTlno == null) table += '<td>-</td>';
                        else table += '<td>' + value.stoTlno + '</td>';
                        if (value.stoAddr == null) table += '<td>-</td>';
                        else table += '<td>' + value.stoAddr + '</td>';
                        table += '<td>-</td>';
                        if (value.stoAddr == null) table += '<td>-</td>';
                        else table += '<td>' + '<a href="http://localhost:8080/service/map/'
                            + value.stonm + '/' + value.stoAddr + '">이동하기</a>' + '</td>';
                        table += '</tr>';
                    });
                    $("#list_table_json").append(table);
                }
            });
        }
    }

    function changeSido() { // 1차 분류 선택 -> 2차 분류 option 생성
        var s = document.getElementById("sido");
        var selectedSido = s.options[s.selectedIndex].text;

        {% for item in sido %}
            {% for key, value in item.items() %}
                if ('{{key}}' == selectedSido) {
                    $("#gu").empty();
                    $("#gu").append("<option value='' selected disabled>2차 분류</option>");

                    {% for v in value %}
                        $("#gu").append("<option id='{{v}}' name='gu' value='{{v}}'>{{v}}</option>");
                    {% endfor %}
                }
            {% endfor %}
        {% endfor %}
    }

    function onClickCheckbox(c) { // checkbox 하나만 선택
        var obj = document.getElementsByName("medical");
        for(var i = 0; i < obj.length; i++) {
            if(obj[i] != c) {
                obj[i].checked = false;
            }
        }
    }
</script>
{% endblock %}