{% extends 'template.html' %}

{% block head %}Service{% endblock %}

{% block styleblock %}
body {
    font-size: 18px;
}

.table {
    table-layout: fixed;
}
.table thead th {
    vertical-align: middle;
}
{% endblock %}
td {
    font-size: 12px;
}

{% block content %}
<div class="container">

    <form name="category" action="" onSubmit="return selectCategory(this)">
        <!-- 체크박스 -->
        <div class="row">
            <div class="media col-lg-12 col-md-12 mx-auto">
                <div id="checkbox-container" class="media-body">
                    <input type="checkbox" name="medical" value="hospital" onclick="onClickCheckbox(this);">병원
                    <input type="checkbox" name="medical" value="clinic" onclick="onClickCheckbox(this);">의원
                    <input type="checkbox" name="medical" value="examination" onclick="onClickCheckbox(this);">검진기관
                    <input type="checkbox" name="medical" value="children" onclick="onClickCheckbox(this);">어린이 예방접종기관
                    <input type="checkbox" name="medical" value="pharmacy" onclick="onClickCheckbox(this);">약국
                    <input type="checkbox" name="medical" value="store" onclick="onClickCheckbox(this);">안전상비의약품 판매업소
                </div>
                <input type="submit" class="btn btn-success float-right" value="검색"/>
            </div>
        </div>
    </form>

    <!-- 시/도 리스트, 구 리스트 -->
    <div class="row">
        <div class="dropdown col-lg-12 col-md-12 mx-auto">
            <!-- 1차 분류 -->
            <select id="sido" onchange="changeSido()" style="width:10rem; height:2rem;">
                <option value="" selected disabled>1차 분류</option>
                {% for item in sido %}
                    {% for key, value in item.items() %}
                        <option id="{{key}}" name="sido" value="{{key}}">{{key}}</option>
                    {% endfor %}
                {% endfor %}
            </select>

            <!-- 2차 분류 -->
            <select id="gu" style="width:10rem; height:2rem;">
                <option value="" selected disabled>2차 분류</option>
            </select>
            <!-- 검진과목 -->
            <select id="subject" name="subject" style="width:10rem; height:2rem;">
                <option value="" selected disabled>검진 과목</option>
                <option value="subject">검진과목이 너무 많아요</option>
            </select>
        </div>
    </div>

    <hr>

    <!-- 결과 화면 -->
    <div class="row">
        <div class="answer col-lg-12 col-md-12 mx-auto">
            <table class="table table-success" id="list_table_json">
                <thead class="text-center">
                    <tr>
                        <th scope="col" width="15%">상호명</th>
                        <th scope="col" width="15%">과목</th>
                        <th scope="col" width="15%">전화번호</th>
                        <th scope="col" width="30%">주소</th>
                        <th scope="col" width="10%">항생제<br/>등급</th>
                        <th scope="col" width="10%">지도</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div id="text"></div>
</div>
{% endblock %}

{% block script %}
<script>


    function changeSido() { // 1차 분류 선택 -> 2차 분류 option 생성
        var s = document.getElementById("sido");
        var selectedSido = s.options[s.selectedIndex].text;

        {% for item in sido %}
            {% for key, value in item.items() %}
                if ('{{key}}' == selectedSido) {
                    $("#gu").empty();
                    $("#gu").append("<option value='' selected disabled>2차 분류</option>");

                    {% for v in value %}
                        $("#gu").append("<option id='{{v}}' name='gu' value='{{v}}'>{{v}}</option>");
                    {% endfor %}
                }
            {% endfor %}
        {% endfor %}
    }

    function onClickCheckbox(c) { // checkbox 하나만 선택
        var obj = document.getElementsByName("medical");
        for(var i = 0; i < obj.length; i++) {
            if(obj[i] != c) {
                obj[i].checked = false;
            }
        }
    }

    function selectCategory() { // checkbox 선택 후 검색 버튼 눌렀을 때 이벤트
        var isChecked = $("input:checkbox[name='medical']").is(":checked");

        var checkedHospital = $("input:checkbox[value='hospital']").is(":checked");
        var checkedClinic = $("input:checkbox[value='clinic']").is(":checked");
        var checkedExamination = $("input:checkbox[value='examination']").is(":checked");
        var checkedChildren = $("input:checkbox[value='children']").is(":checked");
        var checkedPharmacy = $("input:checkbox[value='pharmacy']").is(":checked");
        var checkedStore = $("input:checkbox[value='store']").is(":checked");

        var selectedSido = $("#sido").val();
        var selectedGu = $("#gu").val();

        if(!isChecked){
            alert("종류를 한 개 선택해주세요.");
            return false;
        }

        if(checkedHospital) {
            $.ajax({
                type: "GET",
                url: "/api/hospital/" + selectedSido + "/" + selectedGu,
                dataType: "text",
                error: function() {
                    alert("실패");
                },
                success: function(text) {
                    var data = $('#text').html(text);

                    var datatostring = JSON.stringify(data[0].innerText);
                    var stringtojson = JSON.parse(datatostring);

                    $('#text').remove();

                    if(typeof stringtojson == "string"){
                        stringtojson = JSON.parse(stringtojson);
                    }
                    console.log(stringtojson);
                    var table = '';
                    $.each(stringtojson.result.list, function(index, value) {
                        table += '<tr>';
                        table += '<td>'+value.hosnm+'</td>';
                        table += '<td style="font-size: 10px;">'+value.hosSubj+'</td>';
                        table += '<td>'+value.hosTlno+'</td>';
                        table += '<td>'+value.hosAddr+'</td>';
                        if(value.hosAnti == null) table += '<td>'+'</td>';
                        else table += '<td>'+value.hosAnti+'</td>';
                        table += '<td>' + '<a href="http://localhost:8080/service/map/'
                            + value.hosnm + '/' + value.hosAddr + '">이동하기</a>' + '</td>';
                        table += '</tr>';
                    });
                    $("#list_table_json").append(table);
                }
            });
            return false;
        }

        if(checkedClinic) {
            $.ajax({
                type: "GET",
                url: "/api/clinic/" + selectedSido + "/" + selectedGu,
                dataType: "text",
                error: function() {
                    alert("실패");
                },
                success: function(text) {
                    var data = $('#text').html(text);

                    var datatostring = JSON.stringify(data[0].innerText);
                    var stringtojson = JSON.parse(datatostring);

                    $('#text').remove();

                    if(typeof stringtojson == "string"){
                        stringtojson = JSON.parse(stringtojson);
                    }
                    console.log(stringtojson);
                    var table = '';
                    $.each(stringtojson.result.list, function(index, value) {
                        table += '<tr>';
                        table += '<td>'+value.clinm+'</td>';
                        table += '<td style="font-size: 10px;">'+value.cliSubj+'</td>';
                        table += '<td>'+value.cliTlno+'</td>';
                        table += '<td>'+value.cliAddr+'</td>';
                        if(value.cliAnti == null) table += '<td>'+'</td>';
                        else table += '<td>'+value.cliAnti+'</td>';
                        table += '<td>' + '<a href="http://localhost:8080/service/map/'
                            + value.clinm + '/' + value.cliAddr + '">이동하기</a>' + '</td>';
                        table += '</tr>';
                    });
                    $("#list_table_json").append(table);
                }
            });
            return false;
        }

        if(checkedExamination) {
            alert("검진기관");
        }

        if(checkedChildren) {
            alert("어린이 예방접종기관");
        }

        if(checkedPharmacy) {
            $.ajax({
                type: "GET",
                url: "/api/pharmacy/" + selectedSido + "/" + selectedGu,
                dataType: "text",
                error: function() {
                    alert("실패");
                },
                success: function(text) {
                    var data = $('#text').html(text);

                    var datatostring = JSON.stringify(data[0].innerText);
                    var stringtojson = JSON.parse(datatostring);

                    $('#text').remove();

                    if(typeof stringtojson == "string"){
                        stringtojson = JSON.parse(stringtojson);
                    }
                    console.log(stringtojson);
                    var table = '';
                    $.each(stringtojson.result.list, function(index, value) {
                        table += '<tr>';
                        table += '<td>'+value.phanm+'</td>';
                        table += '<td>'+'</td>';
                        table += '<td>'+value.phaTlno+'</td>';
                        table += '<td>'+value.phaAddr+'</td>';
                        table += '<td>'+'</td>';
                        table += '<td>' + '<a href="http://localhost:8080/service/map/'
                            + value.phanm + '/' + value.phaAddr + '">이동하기</a>' + '</td>';
                        table += '</tr>';
                    });
                    $("#list_table_json").append(table);
                }
            });
            return false;
        }

        if(checkedStore) {
            $.ajax({
                type: "GET",
                url: "/api/store/" + selectedSido + "/" + selectedGu,
                dataType: "text",
                error: function() {
                    alert("실패");
                },
                success: function(text) {
                    var data = $('#text').html(text);

                    var datatostring = JSON.stringify(data[0].innerText);
                    var stringtojson = JSON.parse(datatostring);

                    $('#text').remove();

                    if(typeof stringtojson == "string"){
                        stringtojson = JSON.parse(stringtojson);
                    }
                    console.log(stringtojson);
                    var table = '';
                    $.each(stringtojson.result.list, function(index, value) {
                        table += '<tr>';
                        table += '<td>'+value.stonm+'</td>';
                        table += '<td>'+'</td>';
                        table += '<td>'+value.stoTlno+'</td>';
                        table += '<td>'+value.stoAddr+'</td>';
                        table += '<td>'+'</td>';
                        table += '<td>' + '<a href="http://localhost:8080/service/map/'
                            + value.stonm + '/' + value.stoAddr + '">이동하기</a>' + '</td>';
                        table += '</tr>';
                    });
                    $("#list_table_json").append(table);
                }
            });
            return false;
        }
    }


</script>
{% endblock %}